*,
*:before,
*:after {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  resize: vertical;
}

@media all and (min-width: 700px) {
  main {
    display: flex;
  }

  main div {
    flex: 1;
  }
}
