*,
*:before,
*:after {
  box-sizing: border-box;
}

header > h1,
main > div > h2 {
  margin: 0;
  text-align: center;
}

main {
  padding-bottom: 2rem;
}

main > div {
  margin: 0.5rem 1rem 0;
}

header {
  margin: 2rem 1rem;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 50vh;
}

#preview {
  border: 1px solid lightgray;
}

@media all and (min-width: 700px) {
  header {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    display: flex;
  }

  main div {
    flex: 1;
  }
}
